.lets_look {
    margin-top: -3px;
    .element_block {
        border: 3px solid $main-color_white;
        .divider__top {
            display: block;
            margin-top: 160px;
            height: 3px;
            background-color: $main-color_white;
        }
        .lets__title {
            padding: 100px 0 0 40px;
            font-weight: 500;
            font-size: 86px;
            line-height: 115px;
            color: #F3F3F3;
        }
        .divider__lower {
            display: block;
            margin-top: 50px;
            height: 3px;
            background-color: $main-color_white;
        }
        .figures__block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 28px;
            .circle {
                padding-left: 40px;
                transition: all 2s;
                &:hover {
                    transform: translate(545px);
                }
            }
        }
    }

}